<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{{ path('zero_zero_homepage') }}">Home</a></li>
            <li><a href="{{ path('zero_zero_characters') }}">Personnages</a></li>
            <li><a href="{{ path('zero_zero_books') }}">Romans</a></li>
        </ul>
    {% endblock %}
</div>