body {
	background: #222;
	/*font-family: verdana, serif;*/
	color: #fff;
	font-size: 12px;
}

a {
	color: #e985f8;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #892e97;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #892e97;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}